body {
  background-color: #f5f7f8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h-1 {
  text-align: center;
  color: #45474b;
  font-family: 'Audiowide';
}
.h-2 {
  color: #45474b;
  font-family: 'Audiowide';
}
.paragraph {
  color: #495e57;
  font-family: 'Audiowide';
  background-color: #f4ce14;
}