* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #EBE4D1;
  font-family: 'Audiowide', sans-serif;
}
h1 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(to right, #E55604, #26577C, #E55604);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
h3 {
  background: linear-gradient(to right, #26577C, #E55604);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-container {
  max-width: 480px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
}
.players {
  display: flex;
  justify-content: space-evenly;
}
.player-1, .player-2 {
  padding: 20px;
  border: 3px solid #B4B4B3;
  display: grid;
  place-items: center;
  border-radius: 10px;
  gap: 10px;
}
#p1, #p2 {
  width: 150px;
}
/* using css below replicates the same outcome as above */
/* .players div {
  padding: 20px;
  border: 3px solid #2c2c2c;
  display: grid;
  place-items: center;
  border-radius: 10px;
  gap: 10px;
}
.players img {
  width: 150px;
} */
button {
  padding: 10px 15px;
  width: 90%;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  color: #EBE4D1;
  transition: all .4s;
  font-family: 'Audiowide', sans-serif;
  background: linear-gradient(to right, #26577C, #E55604);
}
button:active {
  transform: scale(0.9);
}
#results {
  width: 90%;
  height: 60px;
  border: 2px dotted #B4B4B3;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px auto;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 500px) {
  .main-container,
  .results {
    width: 95%;
  }
  .players {
    flex-direction: column;
  }
}